<section class="allies">
    <h2>{{alliesTitle}}</h2>
    
    {{!-- <div class="allies_logos">
        <img src="{{assetSrc allieLogo}}">
    </div> --}}
    
    {{!-- <div>
        {{#each alliesLogos}}
            <img src="{{assetSrc alliesLogos}}">
        {{/each}}
    </div> --}}

    {{!-- <div>
        {{#each alliesHome}}
            <img src="{{assetSrc Asset alliesLogos}}">
        {{/each}}
    </div> --}}

    {{!-- <div>
        {{#each alliesHome}}
            <img src="Image/{{alliesLogo}}.png" alt="">
        {{/each}}
    </div> --}}

    {{!-- <div>
        {{#each alliesHome}}
            <img src="{{asset alliesLogos}}" alt="">
        {{/each}}
    </div> --}}
</section>