    <footer class="footer">
        <div class="footer__container component">
            <div class="footer__section footer__section--logo">
                <div class="footer__section--row">
                    <img class="footer__logo" src="{{assetSrc schoolLogo}}" alt="Logo escuela de robotica del choco">
                    <h2 class="footer__title">{{schoolTitle}}</h2>
                </div>
                <div class="footer__section--row footer__section--margin">
                    <a class="footer__social-icon" href="#">{{{asset facebookLogo}}}</a>
                    <a class="footer__social-icon" href="#">{{{asset twitterLogo}}}</a>
                    <a class="footer__social-icon" href="#">{{{asset youtubeLogo}}}</a>
                    <a class="footer__social-icon" href="#">{{{asset instagramLogo}}}</a>
                </div>
                <div class="footer__section--margin">
                    <p class="footer__paragraph">{{footerParagraph}}</p>
                    <p class="footer__paragraph footer__paragraph--bold">{{paragraphAutor}}</p>
                </div>
            </div>
            <div class="footer__section">
                <h2 class="footer__subtitles">{{discoverWithUsTitle}}</h2>
                <ul class="footer__links">
                    {{#each footerLinks}}
                        {{{module this}}}
                    {{/each}}
                </ul>
            </div>
            <div class="footer__section">
                <h2 class="footer__subtitles">{{discoverHowToSupport}}</h2>
                <ul class="footer__button">
                    {{#each donationsButton}}
                        {{{module this}}}
                    {{/each}}
                </ul>
                <div class="footer__section__links">
                    <a href="#" class="footer__links footer__links--row">
                        <div class="footer__image">
                            <img src="{{assetSrc footerEmailIcon}}" alt="">
                        </div>

                        <div>
                            {{footerEmail}}
                        </div>
                    </a>
                    <a href="#" class="footer__links footer__links--row">
                        <div class="footer__image">
                            <img src="{{assetSrc footerAddressIcon}}" alt="">
                        </div>
                        
                        <div>
                            {{footerAddress}}
                        </div>
                    </a>

                    <a href="#" class="footer__links footer__links--row">
                        <div class="footer__image">
                            <img src="{{assetSrc footerPhoneNumberIcon}}" alt="">
                        </div>

                        <div>
                            {{footerPhoneNumber}}
                        </div>
                    </a>
                </div>
            </div>
        </div>    
    </footer>