    <header class="header component">
        <div class="header__logo">
            <img class="header__image" src={{assetSrc robot}} alt="">
            <p>{{item1_header}}</p>
        </div>
        <nav>
            <ul class="header__links">
            {{#each navLinks}}
                {{{module this}}}
            {{/each}}
            {{{module donationsButton}}}
            </ul>
            <div>
                <span class="icon header__burger-icon">☰</span>
            </div>
        </nav>
        <div class="header__mobile-menu">
            <ul class="header__mobile-links">
                {{#each navLinks}}
                    {{{module this}}}
                {{/each}}
                {{{module donationsButton}}}
            </ul>
            <span class="icon header__close-icon">✕</span>
        </div>
    </header>
