
<section class="projects component">
    <h2 class="projects__header">{{sectionTitle}}</h2>
    <section class="projects__container">
        <article class="projects__card">
            <img class="projects__img" src={{assetSrc firstProjectImg}} alt="random robotics-related image">
            <h4 class="projects__title">{{firstProjectTitle}}</h4>
            <p class="projects__descr">{{firstProjectDescr}}</p>
        </article>
        <article class="projects__card">
            <img class="projects__img" src={{assetSrc firstProjectImg}} alt="random robotics-related image">
            <h4 class="projects__title">{{firstProjectTitle}}</h4>
            <p class="projects__descr">{{firstProjectDescr}}</p>
        </article>
        <article class="projects__card">
            <img class="projects__img" src={{assetSrc firstProjectImg}} alt="random robotics-related image">
            <h4 class="projects__title">{{firstProjectTitle}}</h4>
            <p class="projects__descr">{{firstProjectDescr}}</p>
        </article>
        <article class="projects__card">
            <img class="projects__img" src={{assetSrc firstProjectImg}} alt="random robotics-related image">
            <h4 class="projects__title">{{firstProjectTitle}}</h4>
            <p class="projects__descr">{{firstProjectDescr}}</p>
        </article>
        <article class="projects__card">
            <img class="projects__img" src={{assetSrc firstProjectImg}} alt="random robotics-related image">
            <h4 class="projects__title">{{firstProjectTitle}}</h4>
            <p class="projects__descr">{{firstProjectDescr}}</p>
        </article>
        <article class="projects__card">
            <img class="projects__img" src={{assetSrc firstProjectImg}} alt="random robotics-related image">
            <h4 class="projects__title">{{firstProjectTitle}}</h4>
            <p class="projects__descr">{{firstProjectDescr}}</p>
        </article>
    </section>
        <a class="projects__link" href="#">{{ourProjectsLink}}</a>
</section>
