<section class="team component">
    <h2 class="team__header">{{teamSectionTitle}}</h2>
    <section class="team__container">
        <article class="team__card">
            <img class="team__img" src={{assetSrc teamMemberImg}} alt="blue square used as a dummy image">
            <h4 class="team__title">{{teamMemberTitle}}</h4>
            <h5 class="team__subtitle">{{teamMemberSubtitle}}</h5>
            <p class="team__descr">{{teamMemberDescr}}</p>
        </article>
        <article class="team__card">
            <img class="team__img" src={{assetSrc teamMemberImg}} alt="blue square used as a dummy image">
            <h4 class="team__title">{{teamMemberTitle}}</h4>
            <h5 class="team__subtitle">{{teamMemberSubtitle}}</h5>
            <p class="team__descr">{{teamMemberDescr}}</p>
        </article>
        <article class="team__card">
            <img class="team__img" src={{assetSrc teamMemberImg}} alt="blue square used as a dummy image">
            <h4 class="team__title">{{teamMemberTitle}}</h4>
            <h5 class="team__subtitle">{{teamMemberSubtitle}}</h5>
            <p class="team__descr">{{teamMemberDescr}}</p>
        </article>
        <article class="team__card">
            <img class="team__img" src={{assetSrc teamMemberImg}} alt="blue square used as a dummy image">
            <h4 class="team__title">{{teamMemberTitle}}</h4>
            <h5 class="team__subtitle">{{teamMemberSubtitle}}</h5>
            <p class="team__descr">{{teamMemberDescr}}</p>
        </article>
        <article class="team__card">
            <img class="team__img" src={{assetSrc teamMemberImg}} alt="blue square used as a dummy image">
            <h4 class="team__title">{{teamMemberTitle}}</h4>
            <h5 class="team__subtitle">{{teamMemberSubtitle}}</h5>
            <p class="team__descr">{{teamMemberDescr}}</p>
        </article>
        <article class="team__card">
            <img class="team__img" src={{assetSrc teamMemberImg}} alt="blue square used as a dummy image">
            <h4 class="team__title">{{teamMemberTitle}}</h4>
            <h5 class="team__subtitle">{{teamMemberSubtitle}}</h5>
            <p class="team__descr">{{teamMemberDescr}}</p>
        </article>
        <article class="team__card">
            <img class="team__img" src={{assetSrc teamMemberImg}} alt="blue square used as a dummy image">
            <h4 class="team__title">{{teamMemberTitle}}</h4>
            <h5 class="team__subtitle">{{teamMemberSubtitle}}</h5>
            <p class="team__descr">{{teamMemberDescr}}</p>
        </article>
        <article class="team__card team__card--centered-content">
            <img class="team__img" src={{assetSrc schoolLogo}} alt="logo for the Escuela de Robótica del Chocó with a hearth backgound">
            <h4 class="team__title">{{joinUsTitle}}</h4>
            <p class="team__descr">{{joinUsDescr}}</p>
            <a class="team__cta" href="#form">{{joinUsButton}}</a>
        </article>
    </section>
</section>